<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style>
        .sub-menu{
            margin: 15px;
        }

    </style>
</head>
<body>
    <header>
        <div class="menu container">
            <div class="sub-menu row">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Hỗ trợ</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="list-inline">
                            <li><a href="#">Thông báo</a></li>
                            <li><a href="#">Đăng ký</a></li>
                            <li><a href="#">Đăng nhập</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sub-menu row">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-sm-6 ">
                        <div id="sreach">
                            <div class="input-group stylish-input-group">
                                <input type="text" class="form-control"  placeholder="Search" >
                                <span class="input-group-addon">
                                     <i class="fa fa-search"></i>
                                 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <i class="fa fa-2x fa-shopping-cart "></i>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </header>

</body>

</html>

