<div id="footer" class="container-serch text-center" >
    <div class="row">
        <div class="col-xs-11 col-md-11 " >
            <ul class="list-inline">
                <li>Trang Chủ</li>
                <li>Giới Thiệu</li>
                <li>Khuyến Mãi</li>
                <li>Sản Phẩm</li>
                <li>Liên Hệ</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>